<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.showui">

    <application>
        <activity
                android:name=".ShowActivity"
                android:label="@string/title_activity_show"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>